    <!-- SECTION -->
    <section class="pt-6 pt-md-8">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-11 col-xl-10">
            <!-- Heading -->
            <h2 class="fw-bold">
              Les dernieres réalisations
            </h2>
            <!-- Text -->
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            </p>
          </div>

     
 
           {% for makeup in makeups %}
           
                    <div class="col-12 col-md-6 d-flex">
                      <div class="card mb-6 shadow-light-lg  lift lift-lg">
                       <a class="card-body" href="#!">
                          <img src="{{ vich_uploader_asset(makeup, 'imageFile') }}" alt="..." class="card-img-top">
                        </a>
                      <!-- Heading -->
                      <h3 class="fw-bold">
                      
                      </h3>
                      <!-- Text -->
                     <p class="text-muted">
                      {{makeup.description|u.truncate(200, '...', false)}}
                      </p>
                      <!-- Date -->
                      <time class="fs-sm text-muted  text-end" >
                       {{ makeup.datemakeup|date('d-m-y')}}
                      </time>
                      </div>
                    </div>               
           {% endfor %}

        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>




